// general styles

*
    box-sizing border-box
    margin 0
    padding 0

// grid wrapper styles

.{gridClassName}
    display flex
    flex-wrap wrap

grid-classes-generator()

.{gridClassName}-top
    @extend .{gridClassName}
    align-items flex-start

.{gridClassName}-bottom
    @extend .{gridClassName}
    align-items flex-end

.{gridClassName}-center
    @extend .{gridClassName}
    align-items center

.{gridClassName}-stretch
    @extend .{gridClassName}
    align-items stretch

.{gridClassName}-justify-center
    justify-content center

.{gridClassName}-flex-cells
    > .{cellClassName}
        display flex

.{gridClassName}-row
    flex-direction row
.{gridClassName}-row-reverse
    flex-direction row-reverse
.{gridClassName}-column
    flex-direction column
    height 100vw
    .{cellClassName}
        flex initial
.{gridClassName}-column-reverse
    flex-direction column-reverse
    height 100vw
    .{cellClassName}
        flex initial

// cell styles

grid-cell-classes-generator()

.{cellClassName}-top
    align-self flex-start

.{cellClassName}-bottom
    align-self flex-end

.{cellClassName}-center
    align-self center