*
    box-sizing border-box
    margin 0
    padding 0

base-font-size = 16
gutter = 20px
columns = 12
cellClassName = 's-grid-cell'
gridClassName = 's-grid'

breakpoints = {
    sm: 0,
    md: 640px,
    lg: 1200px,
    xlg: 1440px,
    xxlg: 1920px
}
